//--------------------------------------------------
// FIPOST GLOBAL SCSS FILE
//--------------------------------------------------

/* CONTENT:
    - Variables
    - Classes
    - Table Classes
    - List Classes
    - Container Classes
    - Text Classes
*/

//--------------------------------------------------
// 1. Variables
//--------------------------------------------------

//Fonts
$font-family: "Metropolis", Avenir, Helvetica, Arial, sans-serif;


//Colors
$fontys-purple-color: #663366;
$fontys-purple: #663366;
$modern-purple-color: rgb(79,60,201);

$background-color: #F3F4F7;
$background-yellow: #EACF73;

$light-black-color: #232627;
$black-color: #051821;
$gray-color: #9D9D9D;
$pink-color: #E40286;
$green-color: #42B883;

$text-green: #16402D;
$text-yellow: #7C7540;

$gradient: linear-gradient(90deg, rgba(193,71,153,1) 0%, rgba(79,60,201,1) 100%);


//Shadow
$shadow: 0px 3px 6px rgba(0,0,0,0.16);
$shadow-small: 0px 1px 3px rgba(0,0,0,0.16);


//Border
$border-radius: 0.8em;
$small-border-radius: 0.5em;

//--------------------------------------------------
// 2. Classes
//--------------------------------------------------

.header {
    font-family: $font-family;
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid black;
}

.card {
    background-color: white;
    border-radius: $border-radius;
    box-shadow: $shadow;
    text-align: left;
    padding: .35em .65em;
}

.gap-1 {
    row-gap: 1em;
}

.d-none {
    display: none;
}

input {
    font-size: 12px;
    font-family: $font-family;
}

.svg {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    opacity: 80%;
    filter: brightness(100%);
}

.action-container {
    margin-top: 2rem;
}

//--------------------------------------------------
//  Layout Classes
//--------------------------------------------------

.row {
    display: flex;
}

.col {

}

//--------------------------------------------------
// Table Classes
//--------------------------------------------------

.table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: whitesmoke;
}

//--------------------------------------------------
// List Classes
//--------------------------------------------------

.listGroup {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.listItem {
    display: flex;
    flex-wrap: wrap;
}

//--------------------------------------------------
// Container Classes
//--------------------------------------------------

.container {
    padding: 16px 8px;
}

.container-fluid {
    padding: 8px 16px;
}

.component-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background: white;
    overflow: hidden;
    padding: 3em;
    margin-bottom: 1rem;
    box-shadow: $shadow;
    border-radius: $border-radius;

    @media only screen and (max-width: 600px) {
        padding: 2em;
    }

    &.overflow {
        overflow: auto;
    }

    &.no-padding {
        padding: 0;
    }
}

.container-header {
  font-size: 30px;
  font-weight: 600;
  white-space: normal;
  @media only screen and (max-width: 600px) {
    font-size: 25px;
  }
}

.container-subheader {
  font-size: 20px;
  font-weight: 600;
  white-space: normal;
  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.container-subheader-small {
  font-size: 16px;
  font-weight: 600;
  white-space: normal;
  @media only screen and (max-width: 600px) {
    font-size: 12px;
  }
}

//--------------------------------------------------
// Background Classes
//--------------------------------------------------

.bg-primary {
    background-color: $fontys-purple
}

.bg-dark {
    background-color: darkslategrey
}

.bg-error {
    background-color: red;
}

//--------------------------------------------------
// Text Classes
//--------------------------------------------------

.modern-pink {
    color: $pink-color;
}

.modern-purple {
    color: $modern-purple-color;
}

.text-light {
  color: $gray-color;
}

.text-error {
  color: #ff3e60;
}

//--------------------------------------------------
//  END OF FILE