//--------------------------------------------------
// FIPOST GLOBAL SCSS FILE
//--------------------------------------------------

/* CONTENT:
    - Variables
    - Classes
    - Table Classes
    - List Classes
    - Container Classes
    - Text Classes
*/

//--------------------------------------------------
// 1. Variables
//--------------------------------------------------

//Fonts
$font-family: "Metropolis", Avenir, Helvetica, Arial, sans-serif;


//Colors
$fontys-purple-color: #663366;
$fontys-purple: #663366;
$modern-purple-color: rgb(79,60,201);

$background-color: #F3F4F7;
$background-yellow: #EACF73;

$light-black-color: #232627;
$black-color: #051821;
$gray-color: #9D9D9D;
$pink-color: #E40286;
$green-color: #42B883;

$text-green: #16402D;
$text-yellow: #7C7540;

$gradient: linear-gradient(90deg, rgba(193,71,153,1) 0%, rgba(79,60,201,1) 100%);


//Shadow
$shadow: 0px 3px 6px rgba(0,0,0,0.16);
$shadow-small: 0px 1px 3px rgba(0,0,0,0.16);


//Border
$border-radius: 0.8em;
$small-border-radius: 0.5em;

//--------------------------------------------------
//  END OF FILE